/* Light Mode */
:root {
    --backgroundColor: hsl(196, 100%, 26%);
/*     --backgroundColor: #967bb6; */
        
    --textColor:  hsl(196, 100%, 95%);
    --inputColor:  hsl(196, 100%, 32%);
    --borderColor: var(--textColor);

    --correctTextColor: hsl(113, 83%, 14%);
    --correctInputColor: hsl(113, 74%, 85%);
    --correctBorderColor: var(--correctTextColor);
    
    --incorrectTextColor: hsl(0, 100%, 21%);
    --incorrectInputColor: hsl(0, 100%, 70%);
    --incorrectBorderColor: var(--incorrectTextColor);

    --checkmarkColor: var(--textColor);
    --checkBoxCheckedColor: var(--inputColor);
}

/* Dark Mode*/
/* :root {
    --backgroundColor: hsl(196, 100%, 5%);

    --textColor: hsl(196, 100%, 90%);
    --inputColor: hsl(196, 100%, 7%);
    --borderColor: var(--textColor);

    --correctTextColor: hsl(113, 74%, 85%);
    --correctInputColor:  hsl(113, 83%, 14%);
    --correctBorderColor: var(--correctTextColor);
    
    --incorrectTextColor: hsl(0, 100%, 70%);
    --incorrectInputColor:  hsl(0, 100%, 21%);
    --incorrectBorderColor: var(--incorrectTextColor);

    --checkmarkColor: var(--textColor);
    --checkBoxCheckedColor: var(--inputColor);
} */

body {
    /* background-color: #125480;
    color: #c4d4df; */
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin-top: 10vh;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

#settingsCard {
    font-size: 0.7em;
    text-align: left;
    margin-top: 17vh;
    width: 11em;
    margin: auto;
    display: none;
}

#app {
    margin-top: 17vh;
    text-align: center;
    display: none;
}

.overviewCard {
    font-size: 0.9em;
    text-align: center;
}

#overviewCard p {
    padding: 0;
}

#quizLength {
    /* this should be changed to vw */
    width: 4vh;
}

#answer {
    font-size: 1em;
    color: var(--textColor);
    background-color: var(--inputColor);
    border: 1px solid var(--textColor);
    border-radius: 30px;
    padding: .2%;
    padding-left: 1.4%;
    width: 40vh;
    width: 7em;
}


.correctAnswer {
    color: var(--correctTextColor) !important;
    background-color: var(--correctInputColor) !important;
}

.incorrectAnswer {
    color: var(--incorrectTextColor) !important;
    background-color: var(--incorrectInputColor) !important;
}

#settingsBtn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    /* uncomment for javascript to show this element */
    /* display: none; */
}

#settingsCheckbox:checked ~ #app {
    display: block;
}
#settingsCheckbox ~ #app {    
    display: none;
}
#settingsCheckbox:checked ~ #settingsCard {
    display: none;
}
#settingsCheckbox ~ #settingsCard {
    display: block;
}

/*Settings Style*/

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox*/
.checkboxContainer input {
    position: ablsolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#settingsCheckbox {
    position: ablsolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--checkmarkColor);
    border: 2px solid var(--borderColor);
    border-radius: 4px;
    background-color: var(--backgroundColor);
}

/* When checkbox is checked add a light blue background */
.checkboxContainer input:checked~.checkmark {
    background-color: var(--checkBoxCheckedColor);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked~.checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--borderColor);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=number] {
    color: var(--textColor);
    border: 2px solid var(--borderColor);
    border-radius: 30px;
    padding-left: 0.5em;
    background-color: var(--inputColor);
    /* width: 120em; */
}

select {
    color: var(--textColor);
    border: 2px solid var(--borderColor);
    border-radius: 30px;
    padding-left: 1em;
    background-color: var(--inputColor);
}

#linkBtn {
    font-size: 1em;
    color: var(--textColor);
    background-color: var(--inputColor);
    border: 1px solid var(--borderColor);
    border-radius: 30px;
    text-decoration: none;  
    padding: 1%;
/*     margin-left: 35vw; */
}


