body {
  background-color: #125480;
  color: #c4d4df;
  font-family: 'Titillium Web', sans-serif;
}
p {
  font-size: 2.4em;
}
.f-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
input {
  background-color: #4d7fa0;
  color: #ffffff;
  font-size: 22px;
  display: block;
  width: 30%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  /* border: 1px solid #a0b3b0; */
  border: 1px solid #306990;
  
  border-radius: 30px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus {
    outline: 0;
    border-color: #1ab188;
}
.button {
    border: 1px solid #306990;
    outline: none;
    border-radius: 30px;
    padding: 7px 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    /* background: #1ab188; */
    background: #1e3748;/*#4e617e;#576d8e;#61799e;*/
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}
.button-block {
    display: block;
    width: 40%;
}
#card {
  background-color: rgba(19, 35, 47, 0.9);
  max-width: 600px;
  margin: 40px auto;
  margin-top: 50px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #306990;
  border-radius: 20px;
  text-align: center;
  padding: 1%;
}
#overview {
  text-align: left;
  font-size: 0.4em;
  /* margin-top: 40px; */
}
#response {
    font-size: 0.9em;
}
.red {
  color: #e55659;
}
.green {
  color: #08f908;
  font-weight: bold;
}
.settings {
  text-align: right;
}
#settings {
  font-size: 1.4em;
}
#settings:hover {
  color: #1ab188;
  /* line-height: 20em; */
  font-size: 1.5em;
}
h1 {
  text-align: center;
  font-size: 4em;
}
