/* Global */
body {
  background-color: #125480;
  color: #c4d4df;
  font-family: 'Titillium Web', sans-serif;
}

/* Menu Button */
#menuBtn {
  float: right;
}

/* Settings Card */
.settingsCard {
  display: flex;
  flex-direction: column;
  background-color: rgba(19, 35, 47, 0.9);
  max-width: 600px;
  margin: 40px auto;
  margin-top: 50px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #306990;
  border-radius: 20px;
  text-align: left;
  padding: 1%;
}

.settings .row {  /*may be merged with .f-row under global*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.settingsCard select {
  width: 2.4rem;
}

.settingsHeader {
  font-weight: 800;
}

/* Question Card */
.questionCard {
  background-color: rgba(19, 35, 47, 0.9);
  max-width: 600px;
  margin: 40px auto;
  margin-top: 50px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #306990;
  border-radius: 20px;
  text-align: center;
  padding: 1%;
}

.questionCard input {
  background-color: #4d7fa0;
  color: #ffffff;
  font-size: 22px;
  display: block;
  width: 30%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #306990;
  
  border-radius: 30px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.questionCard input:focus {
  outline: 0;
  border-color: #1ab188;
}

.questionCard .button {
  border: 1px solid #306990;
  outline: none;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  padding: 7px 0;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1e3748;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.questionCard #goArrow {
  /* background-color: red; */
  transform: scale(0.6);
  align-items: center;
  justify-content: center;
}

.questionCard .button:hover, .button:focus {
  background: #179b77;
}
.questionCard .button-block {
    display: block;
    width: 40%;
}

.questionCard .f-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.questionCard p {
  font-size: 2.4em;
}

/* Overview Card */
.overviewCard {
  background-color: rgba(19, 35, 47, 0.9);
  max-width: 600px;
  margin: 40px auto;
  margin-top: 50px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: absolute;
  /* top: 20%; */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #306990;
  border-radius: 20px;
  text-align: center;
  padding: 1%;
}

.overviewCard p {
  font-size: 1.35em;
}

#overview {
  text-align: left;
  font-size: 0.4em;
  margin-top: 40px;
}
#response {
  font-size: 0.9em;
}
.red {
  color: #e55659;
}
.green {
  color: #08f908;
  font-weight: bold;
}


/* ORIGINAL CODE */